.cookies-notice {
    display: flex;
    align-items: center;
    position: fixed;
    right: 4rem;
    bottom: 2rem;
    left: auto;
    padding: 0.1rem 5rem 0 3rem;
    font-size: 1.6rem;
    z-index: 1011;
    height: 5rem;
    line-height: 1.4;
    background: #131316;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    pointer-events: all;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 10;
}

.cookies-notice a {
    display: inline-block;
}

.cookies-notice a:not(:hover) {
    text-decoration: underline;
}

.cookies-notice.is-closed {
    pointer-events: none;
    transform: translate3d(0, 10rem, 0);
}

.cookies-notice p {
    margin: 0;
    font-size: 1rem;
}

[data-theme=light] .cookies-notice {
    background-color: #fff;
    border: 1px solid #ccc;
}

[data-theme=light] .cookies-notice p {
    color: #000;
}


.cookies-notice__close-btn {
    position: absolute;
    top: calc(50% - 2.5rem);
    right: 1.2rem;
    width: 5rem;
    height: 5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.cookies-notice__close-btn .hidden {
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

.cookies-notice__close-btn:after,
.cookies-notice__close-btn:before {
    content: "";
    position: absolute;
    top: calc(50% - .1rem);
    left: calc(50% - .7rem);
    width: 1.5rem;
    height: 0.2rem;
    background: #27262d;
    border-radius: 0.1rem;
    background-color: #fff;
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

[data-theme=light] .cookies-notice__close-btn:after,
[data-theme=light] .cookies-notice__close-btn:before {
    background-color: #000;
}

.cookies-notice__close-btn:before {
    transform: rotate(-45deg);
}

.cookies-notice__close-btn:after {
    transform: rotate(45deg);
}

.cookies-notice__close-btn:hover:after,
.cookies-notice__close-btn:hover:before {
    transform: none;
}


@media(max-width: 767px) {
    .cookies-notice {
        display: none;
    }
}




#y-intro-scroll svg {
    width: 4rem;
    padding-top: 0.5rem;
    stroke-dasharray: 430;
    stroke-dashoffset: 430;
    fill: transparent;
    stroke: #929292;
}

#y-intro-scroll {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}