/* Custom cursor - start */
@media (hover: hover) and (pointer: fine) {
    .custom-cursor {
        position: absolute;
        overflow: hidden;
        transform: translateY(50%) rotate(120deg) skewY(30deg) scaleX(0.866);
        pointer-events: none;
        border-radius: 20%;
        width: 45px;
        height: 45px;
        z-index: 9999;
        opacity: 100%;
        mix-blend-mode: difference;
        transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
			0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    }

    .custom-cursor::before,
    .custom-cursor::after {
        content: "";
        position: absolute;
        background: white;
        width: 45px;
        height: 45px;
        pointer-events: none;
    }

    .custom-cursor::before {
        transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
        border-radius: 20% 20% 20% 55%;
        pointer-events: none;
    }

    .custom-cursor::after {
        transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
        border-radius: 20% 20% 55% 20%;
        pointer-events: none;
    }

    .cursor-follower {
        position: absolute;
        background: white;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        z-index: 9998;
        opacity: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        mix-blend-mode: difference;
    }


    .nop {
        cursor: unset;
    }

    .custom-cursor.active {
        mix-blend-mode: hard-light;

    }

    .custom-cursor.active::before,
    .custom-cursor.active::after {
     background: #182acc;

    }

    .cursor-follower.active {
        transform: scale(0);
        opacity: 0.3;
    }   
}

/* end */